$backgroundColor : #f7f7f7;
$textColor : #7fa5b8;
$headingColor : #86878b;
$borderColor : #c2c2c2;

$btnheight: 5rem;
$btnwidth: $btnheight * 5 ;
$btnColor: #08aafe;
$btnClickColor: #aadffb;
$btnTextColor : #fff;
$btnClickTextColor : rgb(122, 122, 122);


$width: 100vw - 2vw;
$height: 100vh - 3vh;

